body{
    background-color: #809aeb;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#cabeçalho{
    text-align: center;
    color: white;
}

.container{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.container2{
    background-color: white;
    margin: 10px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

h3#exercicio{
    background-color: #4169e1;
    margin-top: 0px;
    border-radius: 9px;
    padding: 10px;
    color:white;
}

.entrada{
    width: 200px;
    height: 100px;
    background-color: #4169e1;
    border: 3px solid;
    border-radius: 10px;
    margin: 20px;
    color: white;
}


.texto_caixa{
    padding: 0px;
    margin: 10px;
    text-align: center;
}

p{
    padding: 3px;
    margin: 3px;
}

div#figura{
    background-color: white;
    margin: 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.ent{
    margin: 10px;
    padding:10px
    text-align: center;
}

#formula_figura{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px;
    margin:20px;
    align-items: center;
}

#fig_batelada{
    width: 600px;
}

#ajuste_fig{
    /*margin-left: 200px;*/
    width: 600px;
    display:flex;
    flex-wrap:wrap;
}

#equa_dif{
    justify-content:center;
    padding: 30px;
    margin-left: 10px;
}

#resumo{
    padding:20px;
    margin:10px;
}